@font-face
{
    font-family: 'Bellota-LightItalic';
    src: url('../fonts/Bellota-LightItalic');
}

@font-face
{
    font-family: 'Bellota-BoldItalic';
    src: url('../fonts/Bellota-BoldItalic');
}

html,body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

#background
{
  background-image: url("../images/bg/2.jpg");
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer *
{
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer
{
	width: 50%;
	margin: 5% auto;
	position: relative;
}

#inputContainer
{
	margin:0 auto;
	margin-top: 100px;
	width: 70%;
	padding: 40px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 20px;
	font-weight: bolder;
	box-shadow: inset -5px -6px rgba(0,0,0,0.4)
}

#logo img
{
  display: block;
  margin: auto;
}

h2
{
	text-align: center;
}

form #login *
{
	margin: 0 auto;
	position: relative;
}
